@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 414px;
    background-color: #E5E5E5;
}

header {
    background-color: #CF2B2B;
    height: 92px;
    width: 414px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 21px;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 21px;
    margin-bottom: 18px;
}

.mt-123 {
    margin-top: 123px;
}

h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-left: 19px;
}

ul {
    margin: 17px 0 27px 19px;
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll
}

li {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-left: 14px;
    padding-right: 14px;
}

img {
    margin-top: 18px;
    margin-bottom: 8px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.descricao {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-top: 4px;
    margin-bottom: 5px;
}

.preco {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.mb-108 {
    margin-bottom: 108px;
}

footer {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;
}

.mensagem1-rodape {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 200px;
    margin: auto;
}